@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
:root {
  --primary-color: #026842;
  --primary-color-soft: #009d51;
  --secondary-color: #efb810;
  --secondary-color-soft: #f9db5c;
  --black-color-main: #263a4d;
  --black-color-sub: #3f4a54;
  --white-color-main: #ffffff;
  --white-color-sub: #dbdbdb;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  border: none;
  box-sizing: border-box;
  font-family: "Inter";
  outline: none;
  color: var(--black-color-main);
  text-decoration: none;
  transition: 300ms;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
body::-webkit-scrollbar {
  width: 5px;
}
body::-webkit-scrollbar-track {
  background: #fff;
}
body::-webkit-scrollbar-thumb {
  background: #000;
}
body > .whatsApp-contact {
  position: fixed;
  bottom: 50px;
  right: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  width: 55px;
  height: 55px;
  background: #25D366;
  border-radius: 50%;
  border: 3px solid #ffffff;
}
body > .whatsApp-contact i {
  color: #fff;
  font-size: 2rem;
  pointer-events: none;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 10px 50px;
  align-items: center;
  background: rgba(0, 0, 0, 0.7647058824);
  backdrop-filter: blur(10px);
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 10;
}
header .header__logo img {
  width: 300px;
}
header .header__logo a {
  font-size: 2rem;
  color: #fff;
  font-weight: 100;
}
header .header__logo a span {
  font-size: 2.5rem;
  font-family: cursive;
  color: var(--white-color-main);
  font-weight: 900;
}
header .header__navbar ul {
  display: flex;
  gap: 30px;
}
header .header__navbar ul li a {
  color: #fff;
  font-weight: 200;
  letter-spacing: 1px;
}
header .header__navbar ul li a:hover {
  text-decoration: underline;
}

main > article .article__container {
  width: 80%;
  margin: auto;
  padding: 100px 0;
}
main > article .article__container h2 {
  text-align: center;
  font-size: 2.5rem;
  position: relative;
  text-transform: uppercase;
  display: block;
  margin: 0 auto 100px;
  font-weight: 200;
}
main > article.main__home-article .carousel {
  height: 100vh;
}
main > article.main__home-article .carousel .carousel_slide {
  overflow: hidden;
  position: relative;
  height: 100vh;
}
main > article.main__home-article .carousel .carousel_slide .slide__page {
  position: absolute;
  opacity: 0;
  width: 100%;
  transition: opacity 500ms 0ms;
}
main > article.main__home-article .carousel .carousel_slide .slide__page .carousel__bg {
  position: relative;
}
main > article.main__home-article .carousel .carousel_slide .slide__page .carousel__bg img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
main > article.main__home-article .carousel .carousel_slide .slide__page .carousel__bg .gradient-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.5137254902), #000000 80%);
}
main > article.main__home-article .carousel .carousel_slide .slide__page section {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  z-index: 3;
  position: absolute;
  top: 0;
  left: 0;
}
main > article.main__home-article .carousel .carousel_slide .slide__page section h1 {
  font-size: 4rem;
  color: var(--white-color-main);
  width: 100%;
  text-align: center;
  padding: 10px 0;
  font-weight: 100;
  margin-bottom: 20px;
}
main > article.main__home-article .carousel .carousel_slide .slide__page section h2 {
  font-size: 2rem;
  margin-bottom: 50px;
  color: var(--white-color-sub);
  font-weight: 100;
}
main > article.main__home-article .carousel .carousel_slide .slide__page section a {
  font-size: 1.5rem;
  font-weight: 100;
  display: inline-block;
  padding: 15px 50px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: var(--white-color-main);
  cursor: pointer;
  transition: 300ms;
  outline: 2px solid var(--black-color-sub);
}
main > article.main__home-article .carousel .carousel_slide .slide__page section a:hover {
  background: var(--black-color-main);
  outline: 2px solid var(--black-color-sub);
}
main > article.main__home-article .carousel .carousel_slide .slide__page.toRightOld {
  animation: toRightOld 500ms ease-in-out;
}
main > article.main__home-article .carousel .carousel_slide .slide__page.toRightNew {
  animation: toRightNew 500ms ease-in-out;
}
main > article.main__home-article .carousel .carousel_slide .slide__page.toLeftOld {
  animation: toLeftOld 500ms ease-in-out;
}
main > article.main__home-article .carousel .carousel_slide .slide__page.toLeftNew {
  animation: toLeftNew 500ms ease-in-out;
}
main > article.main__home-article .carousel .carousel_slide .slide__page.active {
  opacity: 1;
  transition: opacity 0ms 0ms;
}
@keyframes toRightOld {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
  }
}
@keyframes toRightNew {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0%);
  }
}
@keyframes toLeftOld {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(100%);
  }
}
@keyframes toLeftNew {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0%);
  }
}
main > article.main__home-article .carousel:where(.carousel_next-button) {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  padding: 10px 5px;
  font-size: 40px;
  font-size: 30px;
  transition: 200ms;
  pointer-events: none;
}
main > article.main__home-article .carousel .carousel_prev-button,
main > article.main__home-article .carousel .carousel_next-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  padding: 10px 5px;
  background: transparent;
}
main > article.main__home-article .carousel .carousel_prev-button:hover > i,
main > article.main__home-article .carousel .carousel_next-button:hover > i {
  font-size: 40px;
}
main > article.main__home-article .carousel .carousel_prev-button.blocked,
main > article.main__home-article .carousel .carousel_next-button.blocked {
  opacity: 0.5;
  pointer-events: none;
}
main > article.main__home-article .carousel .carousel_prev-button i,
main > article.main__home-article .carousel .carousel_next-button i {
  font-size: 30px;
  color: #9b9b9b;
  transition: 200ms;
  pointer-events: none;
}
main > article.main__home-article .carousel .carousel_prev-button {
  left: 10px;
}
main > article.main__home-article .carousel .carousel_next-button {
  right: 10px;
}
main > article.main__home-article .carousel .carousel__pagination {
  height: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
main > article.main__home-article .carousel .carousel__pagination .dot {
  width: 50px;
  height: 5px;
  cursor: pointer;
  transition: 500ms;
}
main > article.main__who-article .container__profiles {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 40px 30px;
}
main > article.main__who-article .container__profiles .profile__card {
  box-shadow: 5px 5px 20px #ccc;
  padding: 30px;
  border-radius: 5px;
}
main > article.main__who-article .container__profiles .profile__card .card__img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  width: 100%;
  overflow: hidden;
  border-radius: 3px;
}
main > article.main__who-article .container__profiles .profile__card .card__img img {
  margin-bottom: 20px;
  width: 100%;
}
main > article.main__who-article .container__profiles .profile__card .card__img i {
  font-size: 9rem;
}
main > article.main__who-article .container__profiles .profile__card .card__details .details__name {
  text-align: center;
  margin-bottom: 10px;
  font-size: 1.5rem;
}
main > article.main__who-article .container__profiles .profile__card .card__details .details__role-work {
  text-align: center;
  font-weight: bold;
  color: #9f9f9f;
  display: block;
}
main > article.main__services-article * {
  user-select: none;
}
main > article.main__services-article img {
  width: 100px;
  height: 100px;
  object-fit: contain;
}
main > article.main__services-article .swiper-container {
  width: 100%;
  height: 100px;
  overflow: hidden;
}
main > article.main__services-article .swiper-slide {
  cursor: pointer;
}
main > article.main__projects-article .container__projects {
  display: flex;
  flex-direction: column;
  gap: 200px;
}
main > article.main__projects-article .container__projects .project__card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 30px;
}
main > article.main__projects-article .container__projects .project__card .card__img {
  display: flex;
  align-items: center;
  justify-content: center;
}
main > article.main__projects-article .container__projects .project__card .card__img img {
  width: 400px;
}
main > article.main__projects-article .container__projects .project__card .card__details h3 {
  margin-bottom: 10px;
  font-size: 2.5rem;
  font-weight: 400;
}
main > article.main__projects-article .container__projects .project__card .card__details .details__tags {
  margin-bottom: 20px;
}
main > article.main__projects-article .container__projects .project__card .card__details .details__tags span {
  font-size: 0.8rem;
  display: inline-block;
  padding: 5px 10px;
  border-radius: 5px;
  background: var(--primary-color-soft);
  font-weight: bold;
  color: var(--white-color-main);
}
main > article.main__projects-article .container__projects .project__card .card__details .details__desc {
  hyphens: auto;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  text-align: justify;
  line-height: 1.5rem;
  font-weight: 300;
}
main > article.main__projects-article .container__projects .project__card.card--inverted .card__img {
  order: 2;
}
main > article.main__projects-article .container__projects .project__card.card--inverted .card__details {
  order: 1;
}
main > article.main__projects-article .container__projects .project__card.card--inverted .card__details * {
  text-align: end;
}

footer {
  background: url("./../../images/background/footer-bg.jpg") no-repeat center;
  background-size: cover;
}
footer .gradient-bg {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6862745098);
  z-index: 0;
}
footer .social-media {
  z-index: 100;
  display: flex;
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 50px;
}
footer .social-media li a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  border-radius: 50%;
  background: #fff;
  aspect-ratio: 1/1;
}
footer .social-media li a i {
  font-size: 1.5rem;
  color: #000000;
}
footer .social-media li a:hover {
  background: #000000;
}
footer .social-media li a:hover i {
  color: #ffffff;
}
footer p {
  text-align: center;
  padding: 20px;
  color: #fff;
  letter-spacing: 1px;
  font-weight: 100;
}
footer p a {
  color: #fff;
  font-weight: 700;
}
footer p a:hover {
  text-decoration: underline;
}

/*# sourceMappingURL=style.css.map */
